#help-page{
    height: 100%;
    width: 100%;
    text-align: center;
    font-family: calibri;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
#help-head{
    font-size: 30px;
    font-weight: bold;
    color: black;
}
.main-help-container1 {
    height: 20%;
    width: 100%;
    display: block;
    align-items: center;
    justify-content: center;
    padding: 20px;

}
.main-help-container1 p{
    font-size: 20px;
    color: black;
   
}


.main-help-container{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    /* margin-top: 50px; */
    
    color: white;
}
#help-container{
    height: 160px;
    width: 250px;
    /* border: 2px solid black; */
    text-align: center;
    padding: 10px;
    font-size: 15px;
  background-color: #06132e;
    box-shadow: 5px 5px 0px grey;
   /* margin-bottom: 300px; */
  
}
#help-container i{
    font-size: 40px;
    color: aqua;
    margin-bottom: 10px;
}
#help-container a{
    text-decoration: none;
    color: aqua;
}
@media (max-width:879px ) {

    #help-page{
    height: 100%;
    width: 100%;
    text-align: center;
    font-family: calibri;
    padding-bottom: 10%;
    
}

.main-help-container1 p{
    font-size: 16px;
    color: black;
   
}
#help-head{
    font-size: 20px;
    font-weight: bold;
    color: black;
}
.main-help-container1 {
    height: 30%;
    width: 100%;
    display: block;
    align-items: center;
    justify-content: center;
    padding: 20px;

}
.main-help-container{
    height: 70%;
    width: 100%;
    /* text-align: center; */
    display: block;
    color: white;
    padding-left: 160px;
}

#help-container{
    height: 130px;
    width: 220px;
    /* border: 2px solid black; */
    text-align: center;
    padding: 10px;
    font-size: 15px;
  background-color: #06132e;
    box-shadow: 5px 5px 0px grey;
   /* margin-bottom: 300px; */
   margin-bottom: 5px;
  
}
#help-container i{
    font-size: 20px;
    color: aqua;
    /* margin-bottom: 10px; */
}



}
@media (max-width:530px ){
    .main-help-container{
    height: 70%;
    width: 100%;
    /* text-align: center; */
    display: block;
    color: white;
    padding-left: 100px;
}
}

@media (max-width:400px ){
    .main-help-container1 {
    height: 25%;
    width: 100%;
    display: block;
    align-items: center;
    justify-content: center;
    padding: 20px;

}
    .main-help-container{
    height: 75%;
    width: 100%;
    /* text-align: center; */
    display: block;
    color: white;
    padding-left: 70px;
    padding-bottom: 30px;
}
}