.service-container{
 
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}
#service-list{
    height: 100%;
    width: 20%;
    /* border: 2px solid black; */
    text-align: center;
    background-color: #06132e;
}
#service-list p{
    width: 90%;
    border-bottom: #2b2c2c solid 5px;
    font-size: 25px;
    margin: 10px;
    
}
#service-desc{
    height: 100%;
    width: 80%;

}
#service-desc p{
    font-size: 25px;
    font-weight: 900;
    color: white;
    text-align: center;
    margin-top: 20px;
    color: #06132e
}

.carousel-item img{
/* height: 100%;
width: 80%; */
height: 700px;
}

#list{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 70px;
    color: black;
    font-size: 20px;
    text-align: center;
}
#list a{
   height: 40px;
    width: 150px;
    border: 2px solid #06132e;
    box-shadow: 0px 5px 5px #2b2c2c;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:transparent;
    color: white;
}

@media (max-width:879px ){

 #service-list{
    height: 100%;
    width: 20%;
    /* border: 2px solid black; */
    text-align: center;
    background-color: #06132e;
}
#service-list p{
    width: 70%;
    border-bottom: #2b2c2c solid 5px;
    font-size: 16px;
    margin: 10px;
    
}
    #list{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 50px;
    color: black;
    font-size: 10px;
    text-align: center;
}
#list a{
   height: 20px;
    width: 70px;
    border: 2px solid #06132e;
    box-shadow: 0px 5px 5px #2b2c2c;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:transparent;
    color: white;
}
}

@media (max-width:460px ){

 #service-list{
    height: 100%;
    width: 17%;
    /* border: 2px solid black; */
    text-align: center;
    background-color: #06132e;
}
#service-list p{
    width: 50%;
    /* border-bottom: #2b2c2c solid 5px; */
    font-size: 13px;
    margin: 10px;
    
}
    #list{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 50px;
    color: black;
    font-size: 8px;
    text-align: center;
}
#list a{
   height: 18px;
    width: 30px;
    border: 2px solid #06132e;
    box-shadow: 0px 5px 5px #2b2c2c;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:transparent;
    color: white;
}
}
