
#additional-fun{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
} 

#signin-link{
    height: 100px;
    width: 100%;  
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 30px;
    margin-top: 20px;
}
#signin-link i{
    cursor: pointer;
    color:white;
    
}
#signin-link i:hover{
    color: aqua;
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}